<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAPvPWEgPe7zADsGOSRXfyE8wrb6Gbu0oY</string>
	<key>GCM_SENDER_ID</key>
	<string>1094976994314</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pruebaNotificacion</string>
	<key>PROJECT_ID</key>
	<string>notifypush-179a1</string>
	<key>STORAGE_BUCKET</key>
	<string>notifypush-179a1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1094976994314:ios:bfc8fbbee8a7376c7273f3</string>
</dict>
</plist>